<main>
  <p id="notice"></p>
  <div class="card text-center">
    <div class="card-header">
      開発者の紹介
    </div>
    <div class="card-body">
      <h5 class="card-title">初めまして。</h5>
      <p class="card-text">
        このアプリの創設者の吉本栄史です。僕は現役の大学3年生でプログラミングの勉強をしています。</br>
        このアプリも完全自作です。少しばかり大変なこともありましたが、とても楽しく制作できました。</br>
        もし少しでも興味を持っていただけたなら幸いです。Please, subscribe!
      </p>
      <a href="/users/sign_up" class="btn btn-outline-danger">新規登録はここから！</a>
    </div>
    <div class="card-footer text-muted">
      shieeeeee_01
    </div>
  </div>
</main>